*{box-sizing: border-box;}
body {font-family: Verdana, Arial, sans-serif;
			background-color: #ffffff;
			margin: 0px;
	}

header { background-color: #ffffff;
		 background-repeat: no-repeat;
		padding: 10px;

}
h1 {text-align:left;
		color: #87c444;}
h2 {color: #000000;
		font-family:arial,sans-sans-serif;
		margin: 5px;
}
h4 {color: #50ade2;}
header span {font-style: italic;
							font-weight: bold;
							color: #000000;
							text-align: right;
							padding-right: 25px;
							display: block;
}
	/*Begining of Navigation*/
.navbar {
  overflow: hidden;
  background-color: #50ade2;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #87c444;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #50ade2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #87c444;
}

.dropdown:hover .dropdown-content {
  display: block;
}
	/*End of Navigation*/
	main {background-color: #ffffff;
				color:#000000;
				padding: 30px 50px;
				overflow: hidden;
				margin: 10px;
	}



	/* Create two equal columns that floats next to each other */
	.column {
	float: left;
	width: 50%;
	padding: 20px;
	height: 300px; /* Should be removed. Only for demonstration */
	}

	.row {
	height: 50%;
	padding: 15px;/* Should be removed. Only for demonstration */
	}



a {color: #50ade2;
		font-family: helvetica;
		text-decoration: none;
		text-transform: uppercase;
}
footer {font-size: 70%;
				text-align:center;
				padding: 10px;
				background-color: #50ade2;
				clear:both;
}

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) and (min-width: 600px){
  .navbar .navbar a {
    float: none;
    width: 100%;}
	.dropdown .dropbtn .dropdown-content .dropdown-content a {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 1080px) and (min-width: 801px) {
	.navbar .navbar a {
		float: none;
		width: 100%;}
	.dropdown .dropbtn .dropdown-content .dropdown-content a {
		float: none;
		width: 100%;
	}
}
