* { box-sizing: border-box; }
body {font-family: Verdana, Arial, sans-serif;
	  background-color: #00005D;
}
#wrapper { background-color: #b3c7e6;
		   color: #000066;
		   width: 90%;
		   margin: auto;
		   min-width: 450px;
		   max-width: 1020px;
}
header { background-color: #869dc7;
		 background-image: url(lighthouselogo.jpg);
		 background-repeat: no-repeat;
		color: #00005D;
		padding: 10px;
}
header h1 { padding-left: 200px;
 }

header span { font-style: italic;
			  font-weight: bold;
			  color: #00005D;
			  padding-right: 15px;
			  text-align: right;
			  display: block;
}
nav { float: left;
	  width: 150px;
	  letter-spacing:0.1em;
	  font-weight: bold;
	   position: relative; /* for drop down menu */
}

nav ul { list-style-type: none;
		 margin: 0;
		 padding: 0;
}
nav li { border-bottom: 1px solid #ffffff;
}
nav a { text-decoration: none;
		display: block;
		padding: 15px;
		transition: background-color 2s linear;
}
nav a:link { color: #ffffff; }
nav a:visited { color: #eaeaea; }
nav a:hover {  color: #869dc7;
			   background-color: #eaeaea;
}

nav ul ul {position: absolute;
						left: 130px;
					top: 80px;
				background-color: #b3c7e6;
			padding: 0px;
		display: none;
	text-align: left;
}
nav ul ul li {border: 1px solid #00005d;
display: block;
width: 9em;
padding-left: 1em;
margin-left: 0;
}

nav li:hover ul {
	display: block;
}

main { background-color: #ffffff;
		   color: #000000;
		   padding: 10px 20px;
		   overflow: auto;
}

h2 { color: #869dc7;
	 font-family: arial, sans-serif;
	 margin: 5px;
}

figure {   float: right;
		   margin: 10px;
		   padding: 5px;
		   background-color: #FFF;
		   border: 1px solid #CCC;
		   box-shadow: 5px 5px 5px #828282;
}
figcaption { text-align: center;
		   font-size: .8em;
		   font-style: italic;
}
footer {font-size:70%;
		 text-align: center;
		 padding: 10px;
		 background-color: #869dc7;
		 clear: both;
}

#offer a { text-decoration: none;
			color: #FF0000;
}
#offer { background-color: #eaeaea;
		  width: 10em;
		  margin-bottom: 10px;
		  text-align: center;
}
audio {margin: auto;}
/*Style Image Gallery  */
#gallery{position: relative; background-color: #fff;}
#gallery ul {width: 300px; list-style-type: none;}
#gallery li{display: inline; float: left; padding: 10px;}
#gallery img{border-style: none;}
#gallery a {color: #eaeaea; text-decoration: none; font-style: italic;}
#gallery span{position: absolute; left: -1000px; opacity: 0; transition: opacity 3s ease-in-out;}
#galpic {position: absolute; left: 350px; top: 30px;}
#gallery a:hover span {position: absolute; top: 45px; left: 370px; text-align: center; opacity: 1; color: #000;}



/* Create Media Queries */
header, main, nav, footer, figure, figcaption { display: block; }
@media only screen and (max-width: 1024px) {
	body { margin: 0; background-color: #869dc7;}
	#wrapper { width: auto; margin: 0;}
	main { margin-left: 0; }
	nav { float: none;
		  width: auto; }
	nav li { display: inline-block;
			   padding: 0.5em; }
	nav ul { text-align: center; }
	nav a { border-style: none; }
	h1, h2 { font-size: 120%; }
	p { font-size: 90%; }
}
@media only screen and (max-width: 768px) {
	#wrapper { min-width: 0; }
	header { background-image: url(lighthousemini.jpg); }
	header h1 { padding-left: 0; }
	h1, h2 { font-size: 100%; }
	span { font-size: 80%; }
	figure { display: none;}
	nav, nav ul, nav li { padding: 0; }
	nav li { display: block; }
	nav a { display: block;
		padding: 0.5em 0;
		border-bottom: 2px ridge #00005D; }
	}
